html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
body{
    padding:0px;
    margin:0px;
}
@font-face{
    src: url(gotham.otf);
    font-family: Gotham;
}
fullpage{
    display: block;
    height:100vh;
    width:100%;
    padding:0px;
    margin:0px;
}
h1,h2,h3,h4,h5,h6,p,pre,label,textarea,i{
    font-family: Gotham;
    white-space: pre-line;
    word-wrap: break-word;
}
a {
    cursor:pointer;
    font-family: Gotham;
    white-space: pre-line;
    word-wrap: break-word;
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    font-family: Gotham;
    white-space: pre-line;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid 1px;
}
button{
    outline: none;
    cursor:pointer;
    border: solid 1px white;
    border-radius: 0px;
    font-family: Gotham;
    color:white;
    background-color: rgba(0,0,0,0.5);
    padding:10px;
    font-size:17.5px;
}
@keyframes MoveUpDown {
  0%, 100% {
    transform: translate(-50%,-40%);
  }
  50% {
    transform: translate(-50%,-60%);
  }
}
arrow{
    display:block;
    position:absolute;
    height:50px;
    width:150px;
    clip-path: polygon(50% 50%, 100% 0, 50% 100%, 0 0);
    background-color:rgb(255, 255, 255);
    top:90%;
    left:50%;
    transform:translate(-50%, -50%);
    animation: MoveUpDown 2s ease-in-out infinite;
    cursor:pointer;
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
fadeintext{
    font-family: Gotham;
    white-space: pre-line;
    word-wrap: break-word;
    animation: fadeIn 1s ease-in;
}
contactform{
    display:block;
    position:absolute;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 2px white;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    text-align:center;
}
input[type=text] {
    font-family: Gotham;
    border: none;
    border-bottom: solid 1px white;
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    border-radius: 0px;
    transition: 1s;
}
input[type=text]:focus{
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    border:none;
    border-bottom: solid 1px dodgerblue;
    border-radius: 0px;
    transition: 1s;
}



.youremailsubject{
    width:40vw;
}
.emailsubject{
    display: block;
    position: absolute;
    pointer-events: none;
    top: 1px;
    transition: 1s;
}
.youremailsubject:focus+.emailsubject{
    display: block;
    position: absolute;
    top: -1px;
    pointer-events: none;
    border-radius: 0px;
    transform: translate(0%, -100%);
    transition: 1s;
}



.message{
    width: calc(40vw - 20px);
    padding:10px;
    height:20vh;
    background-color: rgba(0,0,0,0);
    color:white;
    resize: none;
    outline:none;
}
.message::placeholder{
    color:gainsboro;
}



card{
    cursor:pointer;
    outline:none;
    display:block;
    position:absolute;
    height:75vh;
    width:20%;
    top:50%;
    transform:translate(0%, -50%);
    background-color:rgb(90, 90, 90);
    transition:1s;
    color:white;
    padding:10px;
}
card:focus{
    cursor: auto;
    transform:translate(0%, -50%) scaleX(-1);
    transition:1s;
}


.img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transition:1s;
}
slice{
    outline:none;
    cursor:pointer;
    display:block;
    position:absolute;
    width:40%;
    height:100%;
    clip-path:polygon(50% 0%, 0% 100%, 50% 100%, 100% 0%);
    transition:1s;
}



.sliceblurg{
    opacity:0;
    pointer-events: none;
    cursor: auto;
    display: block;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

#grapeland:focus .sliceblurg{
    opacity:1;
    pointer-events:initial;
    transition: 0.5s;
}



.sliceblurh{
    opacity:0;
    pointer-events: none;
    cursor: auto;
    display: block;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
#homeschool:focus .sliceblurh{
    opacity:1;
    pointer-events:initial;
    transition: 0.5s;
}



.sliceblurc{
    opacity:0;
    pointer-events: none;
    cursor: auto;
    display: block;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
#cambria:focus .sliceblurc{
    opacity:1;
    pointer-events:initial;
    transition: 0.5s;
}



.sliceblurn{
    opacity:0;
    pointer-events: none;
    cursor: auto;
    display: block;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
#novahome:focus .sliceblurn{
    opacity:1;
    pointer-events:initial;
    transition: 0.5s;
}
leftslice{
    display:block;
    position:absolute;
    width:20%;
    height:100%;
    background-color:rgb(210, 210, 210);
    clip-path:polygon(0% 0%, 0% 100%, 100% 0%);
    transition:1s;
}
rightslice{
    display:block;
    position:absolute;
    width:20%;
    height:100%;
    background-color:rgb(90, 90, 90);
    left:100%;
    transform:translate(-100%, 0%);
    clip-path:polygon(100% 0%, 0% 100%, 100% 100%);
    transition:1s;
}



#grapeland:focus{
    width: 70%;
    clip-path: polygon(14.375% 0%, 0% 100%, 85.625% 100%, 100% 0%);
}
#grapeland:focus .img{
    width:10%;
    top:75vh;
    left:15vh;
}
#reeg:valid~.gree{
    width: 20%;
}
#reeg:valid~#homeschool {
    transform: translate(200%, 0%);
}
#reeg:valid~#cambria {
    transform: translate(150%, 0%);
}
#reeg:valid~#novahome {
    transform: translate(100%, 0%);
}
#reeg:valid~leftslice {
    width: 10%;
}
#reeg:valid~rightslice {
    width: 10%;
}



#homeschool:focus{
    width: 70%;
    clip-path: polygon(14.375% 0%, 0% 100%, 85.625% 100%, 100% 0%);
    transform:translate(-14.3%,0%);
}
#homeschool:focus .img {
    width: 10%;
    top: 75vh;
    left: 15vh;
}
#reeh:valid~.hree{
    width: 20%;
}
#reeh:valid~#grapeland {
    transform: translate(0%, 0%);
}
#reeh:valid~#cambria {
    transform: translate(150%, 0%);
}
#reeh:valid~#novahome {
    transform: translate(100%, 0%);
}
#reeh:valid~leftslice{
    width: 10%;
}
#reeh:valid~rightslice{
    width: 10%;
}



#cambria:focus{
    width: 70%;
    clip-path: polygon(14.375% 0%, 0% 100%, 85.625% 100%, 100% 0%);
    transform: translate(-28.5%, 0%);
}
#cambria:focus .img {
    width: 10%;
    top: 75vh;
    left: 15vh;
}
#reec:valid~.cree{
    width: 20%;
}
#reec:valid~#grapeland{
    transform: translate(0%, 0%);
}
#reec:valid~#homeschool{
    transform: translate(-50%, 0%);
}
#reec:valid~#novahome{
    transform: translate(100%, 0%);
}
#reec:valid~leftslice{
    width: 10%;
}
#reec:valid~rightslice{
    width: 10%;
}



#novahome:focus{
    width: 70%;
    clip-path: polygon(14.375% 0%, 0% 100%, 85.625% 100%, 100% 0%);
    transform: translate(-43%, 0%);
}
#novahome:focus .img {
    width: 10%;
    top: 75vh;
    left: 15vh;
}
#reen:valid~.nree{
    width: 20%;
}
#reen:valid~#grapeland{
    transform: translate(0%, 0%);
}
#reen:valid~#homeschool{
    transform: translate(-50%, 0%);
}
#reen:valid~#cambria{
    transform: translate(-100%, 0%);
}
#reen:valid~leftslice{
    width: 10%;
}
#reen:valid~rightslice{
    width: 10%;
}


#rotationdiv{
    --rotationindex: 0%;
    display: block;
    position: absolute;
    height: 90vh;
    width: 100%;
    color: rgb(50, 50, 50);
    top: 10vh;
    transition: 1s;
    transform: translate(var(--rotationindex), 0%);
}
#rotationdiv1{
    --rotationindex1: 0%;
    display: block;
    position: absolute;
    top:0vh;
    height: 90vh;
    width: 100%;
    color: rgb(50, 50, 50);
    transition: 1s;
    transform: translate(var(--rotationindex1), 0%);
}
increasearrow{
    cursor:pointer;
    display:block;
    position:absolute;
    height:10vw;
    width:4vw;
    right:1vw;
    top:50%;
    transform:translate(0%, -50%);
    background-color:rgb(210, 210, 210);
    clip-path:polygon(0% 0%, 100% 50%, 0% 100%, 55% 50%);
}
decreasearrow{
    cursor:pointer;
    display:block;
    position:absolute;
    height:10vw;
    width:4vw;
    left:1vw;
    top:50%;
    transform:translate(0%, -50%);
    background-color:rgb(210, 210, 210);
    clip-path:polygon(100% 0%, 0% 50%, 100% 100%, 45% 50%);
}
